
nav {
    background-color: #d46b08; 
    padding: 15px;

}

    .hom {
        background-color: #f4ed93;
    }



nav a {
    color: #feed00;
    text-decoration: none; 
    margin-right: 20px;
    font-weight: bold;
}

nav :hover {
    color: #21ce44;
    
}



.boas-vindas {
    text-align: center;
    background-color: #9dcb6c;
    padding: 20px;
    border-radius: 8px;
}


.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.recipe-card {
    border: 1px solid #2c3c30;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); 
    background-color: rgb(241, 238, 71);
}

.recipe-card h3 {
    color: #09522b; 
}