
nav {
    background-color: #d46b08; 
    padding: 15px;

}

    .hom {
        background-color: #f4ed93;
    }



nav a {
    color: #feed00;
    text-decoration: none; 
    margin-right: 20px;
    font-weight: bold;
}

nav :hover {
    color: #21ce44;
    
}



.boas-vindas {
    text-align: center;
    background-color: #9dcb6c;
    padding: 20px;
    border-radius: 8px;
}


.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.recipe-card {
    border: 1px solid #2c3c30;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); 
    background-color: rgb(241, 238, 71);
}

.recipe-card h3 {
    color: #09522b; 
}

.auth-page {
    background-color: #f9ed95;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Ajustado para funcionar dentro do base.html */
    margin: 0;
}

/* O "cartão" amarelo claro no centro */
.container-auth {
    background-color: #fff9cc;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

/* O título laranja */
.container-auth h1 {
    background-color: #e1a536;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.container-auth form { text-align: left; }

.container-auth label {
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.container-auth input,
.container-auth textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    box-sizing: border-box; /* Importante para o width 100% */
}

.container-auth button,
.container-auth .botao-link {
    margin-top: 20px;
    background-color: #B3DE58;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.container-auth button:hover,
.container-auth .botao-link:hover {
    background-color: #a0c84f;
}

/* Bloco para mostrar mensagens de erro/sucesso */
.messages {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}
.messages li.error {
    color: red;
    background: #fdd;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}