{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cookmasters</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     {% block extra_css %}{% endblock %}
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Home</a>
    {% if user.is_authenticated %}
        
        {% with user.e_chefe as chefe_profile %}
            {% if chefe_profile %}

                <a href="{% url 'cadastrar_receita' %}">Cadastrar Receita</a>
                <a href="{% url 'relatorio_vendas_chefe' %}">Relatório de Vendas</a>
            {% endif %}
        {% endwith %}
        
        {% with user.e_consumidor as consumidor_profile %}
            {% if consumidor_profile %}
                <a href="{% url 'ver_carrinho' %}">Carrinho</a>
                <li><a href="{% url 'minhas_receitas' %}">Minhas Receitas</a></li>
            {% endif %}
        {% endwith %}

        <a href="{% url 'cozinheme' %}">Cozinhe-me</a>
        <a href="{% url 'logout' %}">Sair</a>
        
    {% else %}
        {# LINKS VISÍVEIS PARA USUÁRIOS DESLOGADOS #}
        <a href="{% url 'cozinheme' %}">Cozinhe-me</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'escolher_tipo' %}">Cadastra-se</a>
    {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>