{% extends 'base.html' %}

{% block content %}
<div class="auth-page">
    <div class="container-auth">
        <h1>Cadastro de Chefe</h1>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>

            <label for="senha_confirm">Confirme a Senha:</label>
            <input type="password" name="senha_confirm" id="senha_confirm" required>
            <label for ="descricao">Sua hitória:</label>
            <textarea name="descricao" id="descricao" rows="5" placeholder="Conte um pouco sobre você, sua experiência e trajetória como chefe"required></textarea>
            <label for="foto">Foto de Perfil:</label>
            <input type="file" name="foto" id="foto" accept="image/*">
            <button type="submit">Cadastrar Chefe</button>
        </form>
    </div>
</div>
{% endblock %}